@model BookStore.Models.Category

<!-- Modal -->
<div class="modal fade" id="createCategory" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:darkblue" class="modal-title fs-5" id="createCategoryLabel"> Thêm một thể loại </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        Nhập tên thể loại :
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Thêm</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="bi bi-backspace-reverse-fill"></i> Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
