@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mật khẩu của bạn đã được gửi đến email của bạn.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
</p>

