@page
@model RegisterModel
@using BookStore.Models
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 style="text-align:center; color:green;">Đăng ký</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label><b>Tên :</b></label>
                <input asp-for="Input.Name" class="form-control" placeholder="Nhập tên.." />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Họ :</b></label>
                <input asp-for="Input.Surname" class="form-control" placeholder="Nhập họ.." />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Email :</b></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Nhập email..." />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Số điện thoại :</b></label>
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="(+84) 123 45 67" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Thành phố :</b></label>
                <input asp-for="Input.City" class="form-control" placeholder="Nhập thành phố.." />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Huyện/Phường :</b></label>
                <input asp-for="Input.District" class="form-control" placeholder="Nhập huyện/phường.." />
                <span asp-validation-for="Input.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Địa chỉ :</b></label>
                <input asp-for="Input.Adress" type="text" class="form-control" placeholder="Nhập địa chỉ.." />
                <span asp-validation-for="Input.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Mã bưu điện :</b></label>
                <input asp-for="Input.PostCode" class="form-control" placeholder="Nhập mã bưu điện.." />
                <span asp-validation-for="Input.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Mật khẩu :</b></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Nhập mật khẩu..." />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>Xác nhận mật khẩu :</b></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu.." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* Kullanıcı eklerken Admin Rolu ile sistemde authorized=Admin ise burada rol seçerek ekleme yapabiliyor.*@
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <div class="form-group">
                    @Html.DropDownListFor(x=>x.Input.Role,Model.Input.RoleList,"Kullanıcı Rolu Seçin",new {@class="form-control"})
                </div>
            }
            <button type="submit" class="btn btn-success form-control"><i class="bi bi-person-fill-add"></i>Đăng ký</button>
        </form>
        <br />
    </div>
    <div class="col-md-6 col-md-offset-2">
      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
