

<!-- slider start -->
<div id="carouselExampleDark" class="carousel carousel-dark slide mt-3">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/img/Image/sl1.png" width="1250" height="400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background: #00000050; color: aliceblue;">
                <h1>10.000+ Những cuốn sách của chúng tôi luôn đồng hành cùng bạn..</h1>
                <h4>Tiểu thuyết kinh điển về phát triển cá nhân đang chờ đợi bạn trong tất cả các danh mục của chúng tôi. </h4>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/img/Image/sl2.png" width="1250" height="400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background: #00000050; color: aliceblue;">
                <h1>Chúng tôi đồng hành cùng bạn với doanh số hơn 2500 cuốn sách mỗi tháng..</h1>
                <h4>Chúng tôi đang phát triển cùng bạn, doanh số bán sách của chúng tôi đang tăng lên từng ngày.</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/Image/sl3.jpg" width="1250" height="400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background: #00000050; color: aliceblue;">
                <h1>Dịch vụ vận chuyển miễn phí cho tất cả các cuốn sách..</h1>
                <h4>Chúng tôi cung cấp dịch vụ vận chuyển miễn phí tới tất cả 63 tỉnh thành với các công ty vận chuyển hàng hóa theo hợp đồng.</h4>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- slider end -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
