<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DESKTOP-TM999" connectionString="Data Source=DESKTOP-TM999;Initial Catalog=QLBanHang;Integrated Security=True"/>
	</connectionStrings>
</configuration>
<!--Cái này không cần,  ông làm theo cách tui cho khỏe ok ong-->