
@{
    ViewData["Title"] = "OrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đơn hàng của bạn đã được tạo thành công.</h1>

<h3>Các sản phẩm bạn đã mua sẽ được vận chuyển trong thời gian sớm nhất.</h3>

